h1+* {
  margin-top: 50px;
}

form * {
  display: block;
  margin-bottom: 5px;
}

#address {
  background: #ccc;
}

span {
  width: fit-content;
  display: block;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
}

.preco {
  font-size: 2rem;
  color: green;
  background: #FFF;
  border: 2px solid black;
}